<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.xin.mpes.dao.mapper.UserMapper">
    <resultMap id="userResultMap" type="pers.xin.mpes.entity.User">
        <result column="idcard" property="idcard" typeHandler="pers.xin.mpes.handler.EncryptTypeHandler"/>
        <result column="extra" property="extra" typeHandler="pers.xin.mpes.handler.MapTypeHandler"/>
    </resultMap>
</mapper>
